services:
 db:
   image: postgres:17
   container_name: fango-post
   restart: unless-stopped # automatic restarts unless explicit stop with docker stop
   environment:
     POSTGRES_DB: ${DATABASE_NAME}
     POSTGRES_USER: ${DATABASE_USERNAME}
     POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
   ports:
     - "5432:5432"
   volumes:
     - postgres_data:/var/lib/postgresql/data
     - img_data:/app/images # images stored separately
     - audio_data:/app/audio # audio stored separately
  
 django-web:
   build: 
    context: ./backend
   container_name: fango-back
   ports:
     - "8000:8000"
   depends_on:
     - db
   volumes:
     - ./backend:/app
     - img_data:/app/media/images
   environment:
     DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
     DEBUG: ${DEBUG}
     DJANGO_LOGLEVEL: ${DJANGO_LOGLEVEL}
     DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}
     DATABASE_ENGINE: ${DATABASE_ENGINE}
     DATABASE_NAME: ${DATABASE_NAME}
     DATABASE_USERNAME: ${DATABASE_USERNAME}
 
     DATABASE_PASSWORD: ${DATABASE_PASSWORD}
     DATABASE_HOST: ${DATABASE_HOST}
     DATABASE_PORT: ${DATABASE_PORT}

     REDIS_HOST: ${REDIS_HOST}
     REDIS_PORT: ${REDIS_PORT}
     REDIS_DB: ${REDIS_DB}

 frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: fango-front
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - django-web

 redis:
    image: redis:7
    container_name: fango-redis
    restart: unless-stopped
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
   postgres_data:
   img_data:
   audio_data:
   redis_data:

